/* COLORES PRINCIPALES */
:root{
    --naranja: #FA5B14;
    --verde: #2AC03B;
    --cafe: #C4942B;
    

}

#tituloPrincipal{
    font-family: roboto;
}

/* FORMATO CARROUSEL */
 .carousel-item{
    width: 70%;
    margin-left: 15%;
 }
 .carousel-control-prev-icon{
    border: 2px solid blue;
    margin-left: 140%;
    
 }
 .carousel-control-next-icon{
    border: 2px solid blue;
    margin-right: 140%;
 }

/*FORMATO TITULO PRINCIPAL */
#tituloPrincipal{
    text-align: center;
}

/* FORMULARIO DE CONTACTO  */
.formulario{
    display: grid;    
    background-color: rgb(241, 241, 240);
}
.formulario h2{
    margin-left: 45%;
}
.formulario p{
    font-size: large;
    margin-left: 40%;
}
.input-formulario-contacto{
    margin-bottom: 0.5rem;
    max-width: 40%;
}
.input-formulario-contacto{
    border: 2px solid black;
    margin-left: 30%;
}
.input-formulario-area{
    border: 3px solid black;
    width: 50%;
    margin-left: 25%;
}
.formulario-boton{
    border-radius: 5px;
    max-width: 25%;
    background-color: rgb(207, 216, 216);
    margin-left: 40%;
} 

/* ALINEANDO SECCION ESPACIOS DE ESPACIOS.HTML */
.card{
    display: grid;
}

/* FOOTER */

footer {
    background-color: rgb(213, 213, 216);
    text-align: right;

}
footer a {
    text-decoration: none;
    font-family: brush script mt;
    /* font-family: satisfy; */
    color: green;
}
@media(min-width: 768px){
        #card__body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #card__cabaña3{
        margin-top: 2rem;
        

    }
    #card__habitaciones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);       
    }
}
@media(min-width: 1200px){
    #card__body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       margin-bottom: -22rem;
       margin-left: 2rem;
    }
    #cabañas__titulo{
        margin-left: 2rem;
    }
  
    #card__cabaña3{
        margin-top: -0.4rem;
        width: 5%;
    }
    #card__habitaciones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 5fr;
        margin-left: 2rem;
      
    }
    #card__hdoble{
        margin-top: -20rem;
    }

}
